.App {
  text-align: center;
  padding: 50px;
}
.app_buttons{
  display: flex;
  gap: 20px;
  margin-top: 20px;
}
button{
  padding: 5px 10px;
  background: rgb(21, 206, 235);
  border: 1px solid rgb(8, 135, 154);
  cursor: pointer;
}
.app_cash{
  font-size: 20px;
  font-weight: 700;
}
.app_input{
  padding:0 5px ;
  outline: none;
}
.app_customers{
  margin-top: 20px;
  padding: 10px;
  border: 1px solid rgb(119, 161, 249);
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
